body {
    width: 648px;
    margin: 0 auto;
}	
/*--------------------------------------
    BREAKPOINT 2 - 640px
    DIV ayant la classe "INTERFACE"
        - Pleine largeur, moins 50px de chaque côté
        - Centré horizontalement
  -------------------------------------- */
div.interface {
    width: calc(100% - 100px);
    margin: 0 auto;
}
