body {
    width: 1024px;
    margin: 0 auto;
}
/*--------------------------------------
    BREAKPOINT 4 - 1024px
    DIV ayant la classe "INTERFACE"
        - Pleine largeur, moins 100px de chaque côté

    MAIN
        - Largeur de 70%
        - Grille à 3 colonnes, de largeur égale

    TROISIEME ARTICLE
        - S'étend sur une seule colonne (valeur initiale)
    
    ASIDE
        - Largeur 30%
  -------------------------------------- */
div.interface {
    width: calc(100% - 200px);
}

main {
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr;
}

article.troisieme {
    grid-column: initial;
}

aside {
    width: 30%;
}