@import "variables";
@import "boilerplate";

header {
    background-color: var(--gris-pale);
    background-image: url('../img/bump_lune_499x301.webp');
}

header,
.infos {
    margin-bottom: 1rem;
    padding: 1em;
}

.infos {
    background: var(--mauve);
}

aside {
    background: var(--jaune);
    padding: 1em;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
}



// @import "exercice0";
// @import "exercice1";
// @import "exercice2";
// @import "exercice3";
// @import "exercice4";
@import "exercice";



